<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.mybatis.mapper.EmpMapper">
    <!--
    Emp getEmpByEmpId(@Param("empId") Integer empId);
      -->
    <select id="getEmpByEmpId" resultType="Emp">
        <!--        select emp_id empId,emp_name empName,age,gender from t_emp where emp_id = #{empId}-->
        select * from t_emp where emp_id = #{empId}
    </select>


    <!--    <resultMap id="empAndDeptResultMap" type="Emp">-->
    <!--        <id column="emp_id" property="empId"></id>-->
    <!--        <result column="emp_name" property="empName"/>-->
    <!--        <result column="emp_name" property="empName"/>-->
    <!--        <result column="age" property="age"/>-->
    <!--        <result column="gender" property="gender"/>-->
    <!--        <result column="dept_id" property="dept.deptId"/>-->
    <!--        <result column="dept_name" property="dept.deptName"/>-->
    <!--    </resultMap>-->

    <resultMap id="empAndDeptResultMap" type="Emp">
        <id column="emp_id" property="empId"></id>
        <result column="emp_name" property="empName"/>
        <result column="emp_name" property="empName"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <association property="dept" javaType="Dept" >
            <id column="dept_id" property="deptId"></id>
            <id column="dept_name" property="deptName"></id>
        </association>
    </resultMap>
    <!--   Emp getEmpAndDeptByEmpId(Integer empId);  -->
    <select id="getEmpAndDeptByEmpId" resultMap="empAndDeptResultMap">
        SELECT t1.*, t2.dept_name
        FROM t_emp t1
                 LEFT JOIN t_dept t2
                           ON t1.dept_id = t2.dept_id
        WHERE t1.emp_id = #{empId}
    </select>


    <!--  List<Emp> getDeptAndEmpByStepTwo(@Param("deptId") Integer deptId);  -->
    <select id="getDeptAndEmpByStepTwo" resultType="Emp">
        select * from t_emp where dept_id = #{deptId}
    </select>
</mapper>