<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
         MyBatis核心配置文件中，标签的顺序：
         properties属性,settings设置,typeAliases类型别名,typeHandlers类型处理程序,
         objectFactory对象工厂,objectWrapperFactory对象包装器工厂,reflectorFactory反射器工厂,
         plugins插件,environments环境,databaseIdProvider数据库Id提供程序,mappers映射器
     -->
    <properties resource="jdbc.properties"/>

    <settings>
        <!--    将下划线映射为驼峰    -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--    开启延迟加载    -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--    按需要加载(配合上面)    -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <typeAliases>
        <package name="com.atguigu.mybatis.pojo"/>
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.atguigu.mybatis.mapper"/>
    </mappers>
</configuration>